################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MongoAuthApi
/obj/project.nuget.cache
/obj/project.assets.json
/obj/MongoAuthApi.csproj.nuget.dgspec.json
/obj/Debug/net8.0/rpswa.dswa.cache.json
/obj/Debug/net8.0/MongoAuthApi.AssemblyInfo.cs
/obj/Debug/net8.0/MongoAuthApi.AssemblyInfoInputs.cache
/obj/Debug/net8.0/MongoAuthApi.assets.cache
/obj/Debug/net8.0/MongoAuthApi.GeneratedMSBuildEditorConfig.editorconfig
/bin/Debug/net8.0/AuthApi.pdb
/bin/Debug/net8.0/AuthApi.exe
/bin/Debug/net8.0/AuthApi.dll
/obj/Debug/net8.0/EndpointInfo/MongoAuthApi.json
/obj/Debug/net8.0/ref/AuthApi.dll
/obj/Debug/net8.0/refint/AuthApi.dll
/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
*.json
/obj/Debug/net8.0/MongoAuthApi.genruntimeconfig.cache
/obj/Debug/net8.0/MongoAuthApi.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/MongoAuthApi.csproj.FileListAbsolute.txt
/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/obj/Debug/net8.0/AuthApi.pdb
/obj/Debug/net8.0/AuthApi.dll
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/ApiEndpoints.json
/.vs/CopilotSnapshots/26FB76E49D447144B39980F76CE02177
/appsettings.json
