################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MongoAuthApi
/obj/project.nuget.cache
/obj/project.assets.json
/obj/MongoAuthApi.csproj.nuget.dgspec.json
/obj/Debug/net8.0/rpswa.dswa.cache.json
/obj/Debug/net8.0/MongoAuthApi.AssemblyInfo.cs
/obj/Debug/net8.0/MongoAuthApi.AssemblyInfoInputs.cache
/obj/Debug/net8.0/MongoAuthApi.assets.cache
/obj/Debug/net8.0/MongoAuthApi.GeneratedMSBuildEditorConfig.editorconfig
